<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.momobites.prash.varnamaala">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".Category01One.CatOneActivity"
            android:label="Letters and Numbers"/>

        <activity android:name=".Drawing.DrawBoard"
            android:label="Consonants and Vowels"/>

        <activity android:name=".Category02Two.CatTwoActivity"
            android:label="Time"/>

        <activity android:name=".Category05Three.CatFiveActivity"
            android:label="Birds, Animal, Fish and Reptiles"/>

        <activity android:name=".Category03Place.CatThreeActivity"
            android:label="Places"/>

        <activity android:name=".Category04Four.CatFourActivity"
            android:label="Family, Friends and Relations"/>

        <activity android:name=".Category06Six.CatSixActivity"
            android:label="Food and Drinks"/>

        <activity android:name=".Category07Seven.CatSevenActivity"
            android:label="Colors, Flowers and Plant"/>

    </application>

</manifest>